<nav class="navbar navbar-expand-lg navbar-dark px-5 py-3 py-lg-0">
    <a href="{% url 'main:index' %}" class="navbar-brand p-0">
        <h1 class="m-0"><i class="fa fa-user-tie me-2"></i>SMEs BIS</h1>
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse">
        <span class="fa fa-bars"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarCollapse">
        <div class="navbar-nav ms-auto py-0">
            <a href="{% url 'main:index' %}" class="nav-item nav-link">Home</a>
            <a href="{% url 'main:about' %}" class="nav-item nav-link">About</a>
            <div class="nav-item dropdown">
                <a href="#" class="nav-link dropdown-toggle" data-bs-toggle="dropdown">Loans</a>
                <div class="dropdown-menu m-0">
                    <a href="{% url 'main:small' %}" class="dropdown-item">Small</a>
                    <a href="{% url 'main:medium' %}" class="dropdown-item">Medium</a>
                    <a href="{% url 'main:enterprise' %}" class="dropdown-item">Enterprise</a>
                </div>
            </div>
            <div class="nav-item dropdown">
                <a href="{% url 'main:service' %}" class="nav-link dropdown-toggle" data-bs-toggle="dropdown">Services</a>
                <div class="dropdown-menu m-0">
                    <a href="{% url 'main:service' 'business ideas'  %}" class="dropdown-item">Business Ideas</a>
                    <a href="{% url 'main:service' 'learning & training'  %}" class="dropdown-item">Learning & Training</a>
                    <a href="{% url 'main:service' 'strategic planning'  %}" class="dropdown-item">Strategic Planing</a>
                    <a href="{% url 'main:service' 'funding'  %}" class="dropdown-item">Funding</a>
                    <a href="{% url 'main:service' 'marketing & digital skills' %}" class="dropdown-item">Marketing & Digital Skills</a>
                    <a href="{% url 'main:service' 'monitoring growth' %}" class="dropdown-item">Monitoring Growth</a>
                </div>
            </div>
            <a href="contact.html" class="nav-item nav-link">Contact</a>
        </div>
        <butaton type="button" class="btn text-primary ms-3" data-bs-toggle="modal" data-bs-target="#searchModal">
    </div>
</nav>
