{% extends 'base.html' %}
{% load static %}

{% block content %}
    <!-- Navbar Start -->
    <div class="container-fluid position-relative p-0">
    {% include 'nav.html' %}

        <div class="container-fluid bg-primary py-5 bg-header" style="margin-bottom: 90px;">
            <div class="row py-5">
                <div class="col-12 pt-lg-5 mt-lg-5 text-center">
                    <h1 class="display-4 text-white animated zoomIn">Loans</h1>
                    <a href="{% url 'main:index' %}" class="h5 text-white">Home</a>
                    <i class="far fa-circle text-white px-2"></i>
                    <a href="" class="h5 text-white">{{ loan_type }} Business</a>
                </div>
            </div>
        </div>
    </div>
    <!-- Navbar End -->

    <!-- Blog Start -->
    <div class="container-fluid py-5 wow fadeInUp" data-wow-delay="0.1s">
        <div class="container py-5">
            <div class="row g-5">
                <!-- Blog list Start -->
                <div class="col-lg-8">
                    <div class="row g-5">
                        {% for loan in loans %}
                        <div class="col-md-6 wow slideInUp" data-wow-delay="0.1s">
                            <div class="blog-item bg-light rounded overflow-hidden">
                                <div class="blog-img position-relative overflow-hidden">
                                    <img class="img-fluid" src="{{ loan.url }}" alt="{{ loan.name }}">
                                    <a class="position-absolute top-0 start-0 bg-primary text-white rounded-end mt-5 py-2 px-4" href="{% url 'main:loan_detail' loan.id %}">
                                        {{ loan.name }}
                                    </a>
                                </div>
                                <div class="p-4">
                                    <h4 class="mb-3">{{ loan.name }}</h4>
                                    <p>{{ loan.description|truncatewords:20 }}</p>
                                    <a class="text-uppercase" href="{% url 'main:loan_detail' loan.id %}">Read More <i class="bi bi-arrow-right"></i></a>
                                </div>
                            </div>
                        </div>
                        {% empty %}
                        <div class="col-md-6 wow slideInUp" data-wow-delay="0.1s">
                            <div class="blog-item bg-light rounded overflow-hidden">
                                <div class="p-4">
                                    <p>Opps! Loans Under {{ loan_type }} Loan Are Not Available Yet, Check Later :)</p>
                                </div>
                            </div>
                        </div>
                        {% endfor %}
                    </div>
                </div>
                <!-- Blog list End -->
    
                <!-- Sidebar Start -->
                <div class="col-lg-4">

                    <!-- Recent Post Start -->
                    <div class="mb-5 wow slideInUp" data-wow-delay="0.1s">
                        <div class="section-title section-title-sm position-relative pb-3 mb-4">
                            <h3 class="mb-0">Recent Post On {{ loan_type }} Business</h3>
                        </div>
                        {% for blog in blogs %}
                        <div class="d-flex rounded overflow-hidden mb-3">
                            <img class="img-fluid" src="{{ blog.loan.url }}" style="width: 100px; height: 100px; object-fit: cover;" alt="">
                            <a href="{% url 'main:full_blog_details' blog.id %}" class="h6 fw-semi-bold d-flex align-items-center bg-light px-3 mb-0">
                                {{ blog.name }}
                            </a>
                        </div>
                        {% empty %}
                        <div class="d-flex rounded overflow-hidden mb-3">
                            <p> Opps! No Blog Posts</p>
                        </div>
                        {% endfor %}
                    </div>
                    <!-- Recent Post End -->
    
                    <!-- Image Start -->
                </div>
                <!-- Sidebar End -->
            </div>
        </div>
    </div>
    <!-- Blog End -->
{% endblock content %}